#IDE and TEXT EDITORS
.vs
.vscode
.idea


#Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.iml
*.xml

# cmake
\build
\cmake-build-debug

# binaries
/bin/intermideates
/bin/Win32/Debug
/bin/Win32/Release/Daletos.pdb
/bin/Win32/Release/fmt.dll
*.out

# temporary source files
src/Source1.cpp
src/Source2.cpp
src/w.cpp

# Test Folder and It's Objects
/test
test.o
test.obj
test.exe
/test/a.out
/test/a.exe
Files.txt

# un
.editorconfig
*.zip